.Container{
    padding-top: 12%;
}

body{
    background-color: royalblue;
}

.dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    margin-top: -50px;
}

.dot{

}